.cell {
    position: relative;
    padding: 10px;
    font-size: 14px;
    background: #fff;
    border-top: 1px solid #f0f0f0;

    &.reply_highlight {
        background-color: #f4fcf0;
    }

    .author_content{
        .user_avatar {
            display: inline-block;
            img {
                width: 30px;
                height: 30px;
                border-radius: 3px;
                vertical-align: middle;
            }
        }

        .user_info {
            margin-left: 10px;
            display: inline-block;
            .dark {
                margin-right: 10px;
            }
            a.dark, a.dark:active, a.dark:link, a.dark:visited {
                color: #666;
                text-decoration: none;
            }

            .reply_time {
                font-size: 11px;
                color: #08c;
                text-decoration: none;
            }
        }

        .user_action {
            float: right;
            margin-left: 20px;
            font-size: 15px;

            .up-count {
                color: gray;
            }
        }
    }

    .reply_content {
        padding-left: 50px;
        color: #333;
    }

    a {
        color: #08c;
        text-decoration: none;
    }

    blockquote {
        padding: 0 0 0 15px;
        margin: 0 0 20px;
        border-left: 5px solid #eee;
    }


}