.breadcrumb
  color: #80bd01;
  font-size: 14px;
  a
    color: #80bd01;
  span + span 
    margin-left: 5px;
  .pathname
    color: #999;

.topic_content
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  .markdown_text
    margin: 0 10px;
    h2
      font-size: 26px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;
      line-height: 40px;
    p
      font-size: 15px;
      line-height: 1.7em;
      overflow: auto;
      margin: 1em 0;
      a
        color: #08c;