.header
  li
    display: inline-block;
    margin: 0 10px;
    a
      color: #80bd01;
      font-size: 14px;
      &.currentTab
        background-color: #80bd01;
        color: #fff;
        padding: 3px 4px;
        border-radius: 3px;