.NoReplyTopic
  padding: 10px;
  li
    line-height: 2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a
      color: #778087;

.Scoreboard
  padding: 10px;
  li
    line-height: 2em;
  .top_score
    color: gray;
    padding: 2px;
    margin-right: 10px;
  .user_name
    max-width: 120px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;

.noLogin
  padding: 10px;
  line-height: 2em;
  p
    font-size: 14px;
    word-break: break-word;
    margin: 0 0 10px;
  div
    a
      color: #778087;
    span
      display: inline-block;
      float: none;
      padding: 3px 10px;
      border: none;
      margin: 0;
      font-size: 14px;
      transition: all .2s ease-in-out;
      cursor: pointer;
      letter-spacing: 2px;
      box-shadow: none;
      border-radius: 3px;
      line-height: 2em;
      vertical-align: middle;
      color: #fff;
      background-color: #5bc0de;