.topic_list
  margin: 0;

.cell
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    padding-right: 10px;
    background: #fff;
    height: 50px;
    & + .cell
      border-top: 1px solid #f0f0f0;
    
    .cell_left
      line-height: 30px;
      float: left;
      .user_avatar
        display: inline-block;
        img
          width: 30px;
          height: 30px;
          border-radius: 3px;
          vertical-align: middle;
      .reply_count
          width: 70px;
          display: inline-block;
          text-align: center;
          .count_of_replies
            color: #9e78c0;
          .count_seperator
            font-size: 10px;
          .count_of_visits
            font-size: 10px;
            color: #b4b4b4;
      .put_top
        background: #80bd01;
        padding: 2px 4px;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
        margin: 0 5px;
        &.topiclist_tab
          background-color: #e5e5e5;
          color: #999;
      .title
        &:hover
          text-decoration: underline;

    .cell_right
      float: right;
      img
        height: 18px;
        width: 18px;
        vertical-align: middle;
        margin-right: .5em;
        border-radius: 3px;
      span
        display: inline-block;
        min-width: 50px;
        text-align: right;