:global
  *
    box-sizing border-box
  body
    background #e9eaed
    margin 0
  ul
    margin 0
    padding 0
  li
    list-style-type none
  a
    text-decoration none
    color #333
  input:focus
    outline: none;
  .clearfix:after
    display block
    content " "
    clear both